<div>
  <img src="Images/IMG_5691.JPG">
</div>

<div class="container">
  <form id="contact" action="" method="post">
    <h2>Contact</h2>
    <h5>Any general questions or thoughts, comments, suggestions about the new website? Leave us a message below and we'll get back to you as soon as we can. We'd love to hear from you!</h5>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email address" type="email" tabindex="2" required autofocus>
    </fieldset>
      <fieldset>
      <input placeholder="Your Phone number" type="tel" tabindex="3" required autofocus>
    </fieldset>
      <fieldset>
      <input placeholder="Type your message here..." type="text" tabindex="4" required autofocus>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
</div>
